<!------------------------------------------------------------------
|NOMBRE: dialogo-espera.                                           |  
|------------------------------------------------------------------|
|DESCRIPCIÓN: Componente HTML que contiene la forma para mostrar   |
|              un modal con un cuadro de diálogo de espera.        |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 31/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="modal-body">  
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>  
    <br>
  <div class="row">
    <div class="col-lg-12">
      <h4 class="text-center mensaje-espera">Espere un momento, por favor.</h4>
    </div>
  </div>
</div>