<!------------------------------------------------------------------
|NOMBRE: dialogo-espera.                                           |  
|------------------------------------------------------------------|
|DESCRIPCIÓN: Componente HTML que contiene la forma para mostrar   |
|              un modal con un cuadro de diálogo de espera.        |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 31/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center">
          <img src="../../assets/img/esperar.gif"  height="50" width="50"> 
      </p>        
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <h4 class="text-center text-black-50">Espere un momento, por favor.</h4>
      </div>
    </div>    
</div>
