<!------------------------------------------------------------------
|NOMBRE: alta-consulta.                                            | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página para dar de alta consultas.                   |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 29/08/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-azul btn-lg" placement="bottom" ngbTooltip="Regresar al listado de consultas." (click)="regresar()">
        <i class="material-icons">arrow_back</i>
      </button>
    </div>
    <div class="col-lg-8">
      <h1 class="display-4">Alta de consultas</h1>
    </div>
  </div>
  <div class="row">
    <hr>
  </div>
  <form [formGroup]="formAltaConsultas" (ngSubmit)="altaConsulta()">    
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Usuario*</span>
          </div>
          <input type="text" class="form-control" [formControl]="usuarioControl" [ngbTypeahead]="buscarUsuario" (focus)="focusBuscarUsuario$.next($event.target.value)"
            (click)="clickBuscarUsuario$.next($event.target.value)" #usuarioHTML #usuarioNG="ngbTypeahead" ngbTooltip="Seleccionar usuario de atención."
            [resultFormatter]="formatoUsuarios" [inputFormatter]="formatoUsuarios" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="limpiarCampoUsuario()" placement="bottom" ngbTooltip="Borrar contenido.">
              <i class="material-icons">backspace</i>
            </button>
          </div>
        </div>
        <div  *ngIf="pulsarCrear && !usuarioControl.valid" class="col-lg-12 alert-danger text-center campo-invalido">El Usuario es Requerido.</div>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Paciente*</span>
          </div>
          <input type="text" class="form-control" [formControl]="pacienteControl" [ngbTypeahead]="buscarPaciente" (focus)="focusBuscarPaciente$.next($event.target.value)"
            (click)="clickBuscarPaciente$.next($event.target.value)" #pacienteHTML #pacienteNG="ngbTypeahead" ngbTooltip="Seleccionar paciente."
            [resultFormatter]="formatoPacientes" [inputFormatter]="formatoPacientes" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="limpiarCampoPaciente()" placement="bottom" ngbTooltip="Borrar contenido.">
              <i class="material-icons">backspace</i>
            </button>
          </div>
        </div>
        <div  *ngIf="pulsarCrear && !pacienteControl.valid" class="col-lg-12 alert-danger text-center campo-invalido">El Paciente es Requerido.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Clínica*</span>
          </div>
          <select class="form-control" [formControl]="clinicaControl" #clinicaHTML ngbTooltip="Seleccionar una clínica.">
            <option *ngFor="let clinica of clinicas" value={{clinica.id}}>
              {{clinica.nombre}}
            </option>
          </select>
        </div>
        <div *ngIf="pulsarCrear && !clinicaControl.valid" class="col-lg-12 alert-danger text-center campo-invalido">La clínica es Requerida.</div>
      </div>
    </div>
    <hr>
    <div *ngFor="let campo of campos" class="row">
      <div class="col-lg-3"></div>      
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{campo.etiqueta}}{{campo.requerido == "1" ? "*": ""}} </span>
          </div>        
          <input *ngIf="campo.tipo_campo.includes('ENTERO') || 
                        campo.tipo_campo.includes('DECIMAL')|| 
                        campo.tipo_campo.includes('TEXTO')" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}" type="text" class="form-control" ngbTooltip="{{campo.indicio}}">                                        
          <textarea  *ngIf="campo.tipo_campo == 'COMENTARIO'" #campoHTML [formControlName]="'control' + campo.id"  id="campoHTML{{campo.id}}"  class="form-control" ngbTooltip="{{campo.indicio}}"></textarea>
          <input *ngIf="campo.tipo_campo == 'FECHA'" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}"   type="date" class="form-control" ngbTooltip="{{campo.indicio}}">          
          <input *ngIf="campo.tipo_campo == 'HORA'" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}"   type="time" class="form-control" ngbTooltip="{{campo.indicio}}">          
          <button  *ngIf="campo.tipo_campo == 'IMAGEN'" type="button" class="btn btn-link" ngbTooltip="Ver imagen." (click)="verImagen(campo.id)">
            <i class="material-icons">visibility</i>
          </button>
          <button  *ngIf="campo.tipo_campo == 'IMAGEN'" type="button" class="btn btn-link" ngbTooltip="Limpiar imagen." (click)="limpiarImagen(campo.id)">
            <i class="material-icons">clear</i>
          </button>
          <input *ngIf="campo.tipo_campo == 'IMAGEN'" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}"   type="file" class="form-control" ngbTooltip="{{campo.indicio}}" accept="image/*" (change)="seleccionarImagen($event)">    
          <div *ngIf="pulsarCrear && !formAltaConsultas.controls['control' + campo.id].valid" class="col-lg-12 alert-danger text-center campo-invalido">El campo {{campo.etiqueta}} es inválido.</div>          
          <select *ngIf="campo.tipo_campo == 'LISTA'" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}" class="form-control" ngbTooltip="{{campo.indicio}}"></select>
        </div>
      </div>        
      <div class="col-lg-3"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-lg btn-azul  btn-block" type="submit" ngbTooltip="Crear o dar de alta una consulta.">Crear</button>
      </div>
    </div>
  </form>
</div>