/******************************************************************|
|NOMBRE: ver-receta.                                               | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos para ver una receta.          |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 21/10/2019.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/

/*Color de fuente azul.*/
.fuente-azul{
    color:  rgb(0, 162, 232);
  }
  
  /*Clase para el color de los botones y color de fuente.*/
  .btn-azul{
      background-color: rgb(0, 162, 232);
      color: white;    
    }
  
 
    