/******************************************************************|
|NOMBRE: dialogo-alerta.                                           | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos del modal de alerta.          |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 07/06/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/

/*Establece el color del botón de confirmación.*/
.btn-azul{
    background-color: rgb(0, 162, 232);
    color: white;
  }

  /*Establece el color del título del mensaje.*/
.titulo-azul{
    color: rgb(0, 162, 232);    
  }