<!------------------------------------------------------------------
|NOMBRE: cambiar-password-olvidado.                                |  
|------------------------------------------------------------------|
|DESCRIPCIÓN: Componente HTML que contiene la forma para cambiar   |
|             el password olvidado, a partir de un token.          |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 20/06/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<!--Formulario de cambio de password.-->
<div class="text-center" id="div-contenedor">
  <form [formGroup]="formCambioPassword" class="form-cambio-password" (ngSubmit)="submit()">
    <img class="img-fluid" src={{imagenLogo}} alt="">
    <input type="password" class="form-control" placeholder="Password" [formControl]="nuevoPassword" #nuevoPasswordHTML [ngClass]="{'input-borde-rojo':(nuevoPassword.touched && !nuevoPassword.valid) || (pulsarIngresar && !nuevoPassword.valid)}">
    <ngb-alert *ngIf="(nuevoPassword.touched && nuevoPassword.hasError('required')) || (pulsarIngresar && nuevoPassword.hasError('required'))"
      type="danger" [dismissible]="false">El Nuevo Password es Requerido.</ngb-alert>
    <ngb-alert *ngIf="(nuevoPassword.touched && nuevoPassword.hasError('invalidPassword') 
                      && !nuevoPassword.hasError('required')) || (pulsarIngresar 
                      && nuevoPassword.hasError('invalidPassword')
                      && !nuevoPassword.hasError('required'))" type="danger" [dismissible]="false">
      El Nuevo Password debe de tener una longitud mínima de 8 carácteres, y dentro de ellos se debe de incluir mínimo: una
      mayúscula, un número y un carácter especial.
    </ngb-alert>
    <input type="password" class="form-control" placeholder="Confirmar Password" [formControl]="confirmarPassword" #confirmarPasswordHTML
      [ngClass]="{'input-borde-rojo':(confirmarPassword.touched && !confirmarPassword.valid) || (pulsarIngresar && !confirmarPassword.valid)}">
    <ngb-alert *ngIf="(confirmarPassword.touched && confirmarPassword.hasError('required')) || (pulsarIngresar && confirmarPassword.hasError('required'))"
      type="danger" [dismissible]="false">La Confirmación del password es Requerida.</ngb-alert>
    <ngb-alert *ngIf="(confirmarPassword.touched && confirmarPassword.value != nuevoPassword.value
                      && !confirmarPassword.hasError('required')) || (pulsarIngresar 
                      && confirmarPassword.value != nuevoPassword.value
                      && !confirmarPassword.hasError('required'))" type="danger" [dismissible]="false">
       Los Passwords no coindicen, favor de revisar.
    </ngb-alert>
    <button class="btn btn-lg btn-azul btn-block" type="submit">Cambiar password</button>
    <hr>
    <a class="link-azul" href="/inicio">Inicio.</a>
    <p class="mt-5 mb-3 text-muted">MiMédicos &copy; 2018-2019</p>
  </form>
</div>