<!------------------------------------------------------------------
|NOMBRE: editar-diagnostico.                                       | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página para editar un diagnóstico.                   |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 12/11/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="container">
  <div class="row">
    <div class="col-lg-1">
      <button type="button" class="btn btn-azul btn-lg" placement="bottom" ngbTooltip="Regresar al listado de diagnósticos."
        (click)="regresar()">
        <i class="material-icons">arrow_back</i>
      </button>
    </div>
    <div class="col-lg-11 text-center">
      <h1>{{nombreFormulario}}</h1>
      <h3><small class="text-muted">{{descripcionFormulario}}</small></h3>
    </div>
  </div>
  <app-info-consulta [consultaId]="consultaId" (informacionLista)="infoConsultaLista($event)"></app-info-consulta>

  <form [formGroup]="formulario" (ngSubmit)="guardar()">
    <div *ngFor="let campo of campos" class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{campo.etiqueta}}{{campo.requerido == "1" ? "*": ""}} </span>
          </div>
          <input *ngIf="campo.tipo_campo_formulario.includes('ENTERO') || 
                          campo.tipo_campo_formulario.includes('DECIMAL')|| 
                          campo.tipo_campo_formulario.includes('TEXTO')"
            #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}" type="text" class="form-control"
            ngbTooltip="{{campo.indicio}}">
          <!--<textarea *ngIf="campo.tipo_campo_formulario == 'COMENTARIO'" #campoHTML [formControlName]="'control' + campo.id"
            id="campoHTML{{campo.id}}" class="form-control" ngbTooltip="{{campo.indicio}}" rows="5"></textarea>
            -->
          <app-ngx-editor *ngIf="campo.tipo_campo_formulario == 'COMENTARIO'" #campoHTML 
            [spellcheck]="true" [minHeight]="100" [formControlName]="'control' + campo.id"  [placeholder]="'campoHTML' + campo.id"  ngbTooltip="{{campo.indicio}}"></app-ngx-editor>
          <input *ngIf="campo.tipo_campo_formulario == 'FECHA'" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}"
            type="date" class="form-control" ngbTooltip="{{campo.indicio}}">
          <input *ngIf="campo.tipo_campo_formulario == 'HORA'" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}"
            type="time" class="form-control" ngbTooltip="{{campo.indicio}}">
          <button *ngIf="campo.tipo_campo_formulario == 'IMAGEN' && utilidadesService.existeElementoArreglo('campoId', campo.id, imagenes)"
            type="button" class="btn btn-link" ngbTooltip="Ver imagen." (click)="verImagen(campo.id, true)">
            <i class="material-icons">visibility</i>
          </button>
          <button *ngIf="campo.tipo_campo_formulario == 'IMAGEN' && utilidadesService.existeElementoArreglo('campoId', campo.id, imagenes)"
            type="button" class="btn btn-link" ngbTooltip="Limpiar imagen." (click)="limpiarImagen(campo.id)">
            <i class="material-icons">clear</i>
          </button>
          <input *ngIf="campo.tipo_campo_formulario == 'IMAGEN'" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}"
            type="file" class="form-control" ngbTooltip="{{campo.indicio}}" accept="image/*" (change)="seleccionarImagen($event)">
          <select *ngIf="campo.tipo_campo_formulario == 'LISTA'" #campoHTML [formControlName]="'control' + campo.id" id="campoHTML{{campo.id}}"
            class="form-control" ngbTooltip="{{campo.indicio}}"></select>
          <button *ngIf="campo.tipo_campo_formulario == 'DIBUJO' && utilidadesService.existeElementoArreglo('campoId', campo.id, imagenes)"
            type="button" class="btn btn-link" ngbTooltip="Ver imagen." (click)="verImagen(campo.id, false)">
            <i class="material-icons">visibility</i>
          </button>
          <button *ngIf="campo.tipo_campo_formulario == 'DIBUJO' && utilidadesService.existeElementoArreglo('campoId', campo.id, imagenes)"
            type="button" class="btn btn-link" ngbTooltip="Limpiar imagen." (click)="limpiarImagen(campo.id)">
            <i class="material-icons">clear</i>
          </button>
          <button *ngIf="campo.tipo_campo_formulario == 'DIBUJO'" class="form-control" #campoHTML id="campoHTML{{campo.id}}"
            ngbTooltip="{{campo.indicio}}" type="button" (click)="desplegarAreaDibujo(campo.id, campo.archivo)">
            <i class="material-icons">insert_photo</i></button>
          <div *ngIf="pulsarCrear && !formulario.controls['control' + campo.id].valid" class="col-lg-12 alert-danger text-center campo-invalido">El
            campo {{campo.etiqueta}} es requerido.</div>
          <div *ngIf="pulsarCrear && campo.tipo_campo_formulario == 'DIBUJO' && campo.requerido =='1' && !utilidadesService.existeElementoArreglo('campoId', campo.id, imagenes)"
            class="col-lg-12 alert-danger text-center campo-invalido">El campo {{campo.etiqueta}} es requerido.</div>
        </div>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-lg btn-azul  btn-block" type="submit" ngbTooltip="Guardar cambios.">Guardar</button>
      </div>
    </div>
  </form>

</div>