<div class="row">
  <table class="table table-bordered">
    <tr>
      <th class="text-center">Paciente</th>
      <td class="text-center">{{nombrePaciente}}</td>      
    </tr>  
    <tr>
      <th class="text-center">Email</th>
      <td class="text-center">{{email}}</td>      
    </tr>       
    <tr>
      <th class="text-center">Teléfono</th>
      <td class="text-center">{{telefono}}</td>      
    </tr>       
    <tr>
      <th class="text-center">Celular</th>
      <td class="text-center">{{celular}}</td>      
    </tr>                
  </table>
</div>