<!------------------------------------------------------------------
|NOMBRE: login.                                                    |  
|------------------------------------------------------------------|
|DESCRIPCIÓN: Componente HTML que contiene la forma para ingresar. |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 30/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<!--Se mostrará el formulario de ingresar o el formulario de olvidar contraseña.-->
<ng-container *ngIf="olvidarPassword; then thenTemplate; else elseTemplate"></ng-container>
<!--Si se indica que se olvidó el password.-->
<ng-template #thenTemplate>
    <div class="text-center" id="div-contenedor">
        <form [formGroup]="formOlvidarPassword" class="form-signin" (ngSubmit)="olvidarPaswordSubmit()">
          <img class="img-fluid" src={{imagenLogo}} alt="" >
          <input type="email" class="form-control" placeholder="Email" [formControl]="email" #emailHTML [ngClass]="{'input-borde-rojo':pulsarIngresar && !email.valid}">          
          <ngb-alert *ngIf="pulsarIngresar && email.hasError('required')" type="danger" [dismissible]="false">El Email es Requerido.</ngb-alert>          
          <ngb-alert *ngIf="pulsarIngresar && email.hasError('email')&& !email.hasError('required')" type="danger" [dismissible]="false">Ingrese un email válido.</ngb-alert>          
          <button class="btn btn-lg btn-azul  btn-block" type="submit">Enviar email</button>
          <hr>       
          <p class="text-black-50">Si tu email está ligado a tu cuenta de MiMédicos, recibirás un enlace para restablecer tu contraseña.</p>  
          <a class="link-azul" href="#" (click)="mostrarFormIngresar()">Cancelar.</a> 
          <p class="mt-5 mb-3 text-muted">MiMédicos &copy; 2018-2019</p>
        </form>
      </div>
</ng-template>
<!--Formulario de ingreso normal.-->
<ng-template #elseTemplate>
  <div class="text-center" id="div-contenedor">
    <form [formGroup]="formSignIn" class="form-signin" (ngSubmit)="ingresarSubmit()">
      <img class="img-fluid" src={{imagenLogo}} alt="" >
      <input type="text" class="form-control" placeholder="Usuario" [formControl]="usuario" #usuarioHTML [ngClass]="{'input-borde-rojo':pulsarIngresar && !usuario.valid}">
      <ngb-alert *ngIf="pulsarIngresar && !usuario.valid" type="danger" [dismissible]="false">El Usuario es Requerido.</ngb-alert>
      <input type="password" class="form-control" placeholder="Password" [formControl]="password" #passwordHTML [ngClass]="{'input-borde-rojo':pulsarIngresar && !password.valid}">
      <ngb-alert *ngIf="pulsarIngresar && !password.valid" type="danger" [dismissible]="false">El Password es Requerido.</ngb-alert>
      <button class="btn btn-lg btn-azul btn-block" type="submit">Ingresar</button>
      <hr>
      <a class="link-azul" href="#" (click)="mostrarFormOlvidarPassword()">Olvidé mi password.</a>
      <p class="mt-5 mb-3 text-muted">MiMédicos &copy; 2018-2019</p>
    </form>
  </div>
</ng-template>