<!------------------------------------------------------------------
|NOMBRE: alta-receta.                                              | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página para dar de alta una receta.                  |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 17/09/20189.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-azul btn-lg" placement="bottom" ngbTooltip="Regresar al listado de recetas."
        (click)="regresar()">
        <i class="material-icons">arrow_back</i>
      </button>
    </div>
    <div class="col-lg-8">
      <h1 class="display-4">Alta de recetas</h1>
    </div>
  </div>
  <app-info-consulta [consultaId]="consultaId" (informacionConsulta)="infoConsulta($event)"></app-info-consulta>
</div>
<form [formGroup]="formAltaRecetas" (ngSubmit)="altaReceta()">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text">Referencias*</span>
        </div>
        <input type="text" class="form-control input-lg" [formControl]="referenciasControl" #referenciasHTML
          ngbTooltip="Indicativo o descripción de la receta.">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-1">
      <button type="button" class="btn btn-azul btn-lg col-lg-12" placement="bottom"
        ngbTooltip="Agregar un medicamento a la receta" (click)="utilidadesService.agregarMedicamento();">
        <i class="material-icons">add</i>
      </button>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
      <div class="input-group input-group-lg">
        <input type="text" #buscarInfoHTML class="form-control" placeholder="Búsqueda">
        <div class="input-group-append">
          <button class="btn btn-azul" type="button" (click)="limpiarCampoBusqueda()" placement="bottom"
            ngbTooltip="Borrar búsqueda.">
            <i class="material-icons">backspace</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 table-responsive" style="height:250px; overflow:auto">
      <table class="table table-bordered">
        <tr class="table-primary">
          <th colspan="2" class="text-center">Denominación</th>
          <th rowspan="2" class="text-center align-middle">Forma farmacéutica</th>
          <th rowspan="2" class="text-center align-middle">Presentación</th>
          <th rowspan="2" class="text-center align-middle">Vía administración</th>
          <th rowspan="2" class="text-center align-middle">Dósis</th>
          <th rowspan="2" class="text-center align-middle">Indicaciones</th>
          <th rowspan="2" class="text-center align-middle">Opciones</th>
        </tr>
        <tr class="table-primary">
          <th class="text-center">Distintiva</th>
          <th class="text-center">Genérica</th>
        </tr>
        <tr>
          <td>Distental</td>
          <td>
            <ul>
              <li>Bromuro de primavero</li>
              <li>Bromuro de primavero</li>
              <li>Bromuro de primavero</li>
              <li>Bromuro de primavero</li>
            </ul>
          </td>
          <td class="text-center">Tableta</td>
          <td class="text-center">Caja con 24 tabletas de 100 mg</td>
          <td class="text-center">Oral</td>
          <td class="text-center">1 tableta cada 8 hrs. por 3 meses</td>
          <td class="text-center">Tomar inmediatamente después del desayuno.</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-sm" ngbTooltip="Eliminar medicamento."
                (click)='eliminarMedicamento()'>
                <i class="material-icons">cancel</i>
              </button>
              <button type="button" class="btn btn-sm" ngbTooltip="Editar medicamento."
                (click)='editarMedicamento()'>
                <i class="material-icons">edit</i>
              </button>              
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-lg btn-azul  btn-block" type="submit" ngbTooltip="Dar de alta la receta.">Crear</button>
    </div>
  </div>
</form>