
/******************************************************************|
|NOMBRE: CSS de la aplicación en general.                          | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos modificados de la página      |
|             en general.                                          |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 30/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/

/*Elementos HTML de ligas*/
a{
    /*No llevarán caja o margen alrededor.*/
    outline:none;    
}

/*Tamaño de letra de las opciones del menú.*/
.menu-opcion{
    font-size: 20px; 
    color: rgb(110, 110, 110) !important;
}

/*Color de las opciones del menú cuando el mouse esté por encima, cuando se está pulsando el mouse.
y cuando está seleccionado.*/
.menu-opcion:hover, .active-link {    
    color: rgb(0, 162, 232) !important;
}

/*Clase para el color de los botones desplegbales, color de fuente y tamaño de fuente.*/
.btn-desplegable{
    background-color: rgb(0, 162, 232);
    color: white;
    font-size: 20px; 
  }

  /*Color y tamaño de letra en estado normal de los elementos del  menú desplegable.*/
  .dropdown-item{
    color: rgb(110, 110, 110);
    font-size: 20px; 
  }

/*Color de letra de los elementos del  menú desplegable.*/
.dropdown-item:active{
    background-color: rgb(0, 162, 232);
    color: white;
}
    

