<!------------------------------------------------------------------
|NOMBRE: app.                                                      | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página  principal de la aplicación.                  |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 30/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->
<!--Si el usuario está conectado-->
<ng-container *ngIf="autorizacion.obtenerToken()!== null; then thenTemplate; else elseTemplate">
</ng-container>
<!--Template de cuando el usuario está conectado. Se muestra el menú principal-->
<ng-template #thenTemplate>
  <div class="container-fluid">
    <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg bg-light">
      <a class="navbar-brand" [routerLink]="['/inicio']">
        <img src="../assets/img/logo_resumen.png" width="60" height="30">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link menu-opcion" [routerLinkActive]="['active-link']" [routerLink]="['/inicio']">Inicio</a>
          </li>
          <li class="nav-item"  *ngIf="autorizacion.obtenerMenusArreglo().includes('pacientes')">
            <a class="nav-link menu-opcion" [routerLinkActive]="['active-link']" [routerLink]="['/pacientes']">Pacientes</a>
          </li>      
          <li class="nav-item"  *ngIf="autorizacion.obtenerMenusArreglo().includes('consultas')">
            <a class="nav-link menu-opcion" [routerLinkActive]="['active-link']" [routerLink]="['/consultas']">Consultas</a>
          </li>        
          <li class="nav-item"  *ngIf="autorizacion.obtenerMenusArreglo().includes('cobros')">
            <a class="nav-link menu-opcion" [routerLinkActive]="['active-link']" [routerLink]="['/cobros']">Cobros</a>
          </li>       
          <li ngbDropdown class="nav-item"  *ngIf="autorizacion.obtenerMenusArreglo().includes('configuracion')">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="material-icons">settings</i></a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a *ngIf="autorizacion.obtenerMenusArreglo().includes('estudios')" class="nav-link menu-opcion" [routerLinkActive]="['active-link']" [routerLink]="['/configuracion/estudios']">Estudios</a>
              <a *ngIf="autorizacion.obtenerMenusArreglo().includes('productos')" class="nav-link menu-opcion" [routerLinkActive]="['active-link']" [routerLink]="['/configuracion/productos']">Productos</a>            
              <a *ngIf="autorizacion.obtenerMenusArreglo().includes('medicamentos-globales')" class="nav-link menu-opcion" [routerLinkActive]="['active-link']" [routerLink]="['/configuracion/medicamentos-globales']">Medicamentos globales</a>            
            </div>               
          </li>                       
        </ul>            
        <div ngbDropdown>
          <button class="btn btn-desplegable" ngbDropdownToggle>{{autorizacion.obtenerNombreUsuario()}}</button>
          <div ngbDropdownMenu>
            <button class="dropdown-item">Cambiar password</button>            
            <app-logout (emitirSalir)="salir($event)"></app-logout>        
          </div>
        </div>
      </div>
    </header>
    <hr>
    <router-outlet></router-outlet>
  </div>
</ng-template>
<!--Fin del template #thenTemplate.-->
<!--Template de cuando el usuario NO está conectado.-->
<ng-template #elseTemplate>
  <!--Template de login.-->
  <app-login *ngIf="!rutaNavegacion.url.includes('/cambiar-password-olvidado')">
  </app-login>
  <!--Template de cambiar password.-->
  <app-cambiar-password-olvidado *ngIf="rutaNavegacion.url.includes('/cambiar-password-olvidado')">
  </app-cambiar-password-olvidado>
</ng-template>
<!--Fin del template #elseTemplate.-->