<!------------------------------------------------------------------
|NOMBRE: app.                                                      | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página  principal de la aplicación.                  |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 30/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<!--Si el usuario está conectado-->
<ng-container *ngIf="autorizacion.estaConectado(); then thenTemplate; else elseTemplate">
</ng-container>
<!--Template de cuando el usuario está conectado. Se muestra el menú principal-->
<ng-template #thenTemplate>
  <div class="container">
    <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg bg-light">
      <a class="navbar-brand" [routerLink]="['/inicio']" (click)="navbarCollapsed = true">
        <img src="../assets/img/logo_resumen.png" width="60" height="30">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link menu-opcion" [routerLink]="['/inicio']" (click)="navbarCollapsed = true">Inicio</a>
          </li>
          <li class="nav-item">
            <app-logout class="menu-opcion" (emitirSalir)="salir($event)"></app-logout>
          </li>
        </ul>
      </div>
    </header>
    <hr>
    <router-outlet></router-outlet>
  </div>
</ng-template>
<!--Fin del template #thenTemplate.-->
<!--Template de cuando el usuario NO está conectado. Se muestra la página de ingreso.-->
<ng-template #elseTemplate>
  <app-login></app-login>
</ng-template>
<!--Fin del template #elseTemplate.-->