<!------------------------------------------------------------------
|NOMBRE: app.                                                      | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página  principal de la aplicación.                  |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 30/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<!--Si el usuario está conectado-->
<ng-container *ngIf="autorizacion.obtenerToken()!== null; then thenTemplate; else elseTemplate">
</ng-container>
<!--Template de cuando el usuario está conectado. Se muestra el menú principal-->
<ng-template #thenTemplate>
  <div class="container">
    <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg bg-light">
      <a class="navbar-brand" [routerLink]="['/inicio']">
        <img src="../assets/img/logo_resumen.png" width="60" height="30">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link menu-opcion" [routerLink]="['/inicio']">Inicio</a>
          </li>
        </ul>        
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-desplegable" id="dropdownBasic1" ngbDropdownToggle>{{autorizacion.nombreUsuario}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Editar</button>            
            <app-logout (emitirSalir)="salir($event)"></app-logout>        
          </div>
        </div>
      </div>
    </header>
    <hr>
    <router-outlet></router-outlet>
  </div>
</ng-template>
<!--Fin del template #thenTemplate.-->
<!--Template de cuando el usuario NO está conectado.-->
<ng-template #elseTemplate>
  <!--Template de login.-->
  <app-login *ngIf="!rutaActual.url.includes('/cambiar-password-olvidado')"></app-login>
  <!--Template de cambiar password.-->
  <app-cambiar-password-olvidado *ngIf="rutaActual.url.includes('/cambiar-password-olvidado')">
  </app-cambiar-password-olvidado>
</ng-template>
<!--Fin del template #elseTemplate.-->