
/******************************************************************|
|NOMBRE: CSS de la aplicación en general.                          | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos modificados de la página      |
|             en general.                                          |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 30/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/

/*Elementos HTML de ligas*/
a{
    /*No llevarán caja o margen alrededor.*/
    outline:none;
    
}

/*Tamaño de letra de las opciones del menú.*/
.menu-opcion{
    font-size: 20px; 
    color: rgb(110, 110, 110) !important;   
}

/*Color de las opciones del menú cuando está sin visitar.*/
.menu-opcion:link  {
    color: rgb(110, 110, 110) !important;
}

/*Color de las opciones del menú cuando la opción ya fue visitada.*/
.menu-opcion:visited {
    color:  rgb(65, 159, 247) !important;
}


/*Color de las opciones del menú cuando el mouse esté por encima y cuando se está pulsando el mouse.*/
.menu-opcion:hover, .menu-opcion:active  {    
    color: rgb(49, 116, 179) !important;
}


/*Tamaño y color de la letra de la marca.*/
.menu-marca{
    font-size: 30px;
    color:  rgb(65, 159, 247) !important;
}

/*Color de la marca del menú cuando está sin visitar.*/
.menu-marca:link  {
    color:  rgb(65, 159, 247) !important;
}

/*Color de la marca del menú cuando  ya fue visitada.*/
.menu-marca:visited {
    color:  rgb(65, 159, 247) !important;
}


/*Color de la marca del menú cuando el mouse esté por encima y cuando se está pulsando el mouse.*/
.menu-marca:hover, .menu-marca:active  {    
    color: rgb(110, 110, 110) !important;
}


/* visited link */
/*.menu-marca:visited {
    color: #58ACFA;
}

/* selected link */
/*.menu-marca:active {
    color: #58ACFA;
}


/* mouse over link */
/*.navbar-brand:hover,.menu-opcion:hover  {
    color: rgb(65, 159, 247) !important;
}



/* selected link */
/*.menu-opcion:active, .menu-opcion:visited {
    color:gray !important;
}*/

