<!------------------------------------------------------------------
|NOMBRE: ver-usuarios-producto.                                    | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página de (des)asignación de producto a usuarios.    |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 15/05/2020.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="container">
  <div class="col-lg-12 display-4 text-center">
    <button type="button" class="btn btn-azul btn-lg" placement="bottom" ngbTooltip="Regresar al listado de productos."
      (click)="regresar()">
      <i class="material-icons">arrow_back</i>
    </button>
    Asignación de productos
  </div>
  <br>
  <div class="row">
    <table class="table table-striped table-bordered">
      <tr>
        <th class="text-center">Producto</th>
        <th class="text-center">Descripción</th> 
        <th class="text-center">Clínica</th>         
      </tr>
      <tr>
        <td class="text-center">{{nombreProducto}}</td>
        <td class="text-center">{{descripcion}}</td>
        <td class="text-center">{{nombreClinica}}</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <div class="input-group input-group-lg">
        <input type="text" #buscarUsuariosSinProductoHTML class="form-control" placeholder="Búsqueda">
        <div class="input-group-append">
          <button class="btn btn-azul" type="button" (click)="limpiarBusquedaUsuariosSinProducto()" placement="bottom"
            ngbTooltip="Borrar búsqueda.">
            <i class="material-icons">backspace</i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-azul btn-lg col-lg-12" type="button" (click)="buscarConEspera()" placement="bottom"
        ngbTooltip="Buscar.">
        <i class="material-icons">search</i>
      </button>
    </div>
    <div class="col-lg-5">
      <div class="input-group input-group-lg">
        <input type="text" #buscarUsuariosConProductoHTML class="form-control" placeholder="Búsqueda">
        <div class="input-group-append">
          <button class="btn btn-azul" type="button" (click)="limpiarBusquedaUsuariosConProducto()" placement="bottom"
            ngbTooltip="Borrar búsqueda.">
            <i class="material-icons">backspace</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-5 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th colspan="2" class="text-center">Usuarios sin producto</th>
          </tr>
        </thead>
        <tbody *ngIf="usuariosSinProducto.length > 0">
          <tr *ngFor="let usuario of usuariosSinProducto">
            <td class="text-center"><input type="checkbox" (change)="seleccionarUsuarioSinProducto($event.target.checked, usuario.id)"></td>
            <td class="text-center">{{usuario.nombres_usuario}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2">
      <button *ngIf="usuariosSinProducto.length > 0 && usuariosAsignar.length > 0" class="btn btn-azul btn-lg btn-block" type="button" (click)="asignarProducto()" placement="bottom"
        ngbTooltip="Asignar producto.">
        <i class="material-icons">navigate_next</i>
      </button>      
      <button *ngIf="usuariosConProducto.length > 0 && usuariosDesasignar.length > 0" class="btn btn-azul btn-lg btn-block" type="button" (click)="desasignarProducto()" placement="bottom"
        ngbTooltip="Desasignar producto.">
        <i class="material-icons">navigate_before</i>
      </button>
    </div>
    <div class="col-lg-5 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>    
          <tr>
            <th colspan="2" class="text-center">Usuarios con producto</th>
          </tr>
        </thead>
        <tbody *ngIf="usuariosConProducto.length > 0">
          <tr *ngFor="let usuario of usuariosConProducto">
            <td class="text-center"><input type="checkbox" (change)="seleccionarUsuarioConProducto($event.target.checked, usuario.id)"></td>
            <td class="text-center">{{usuario.nombres_usuario}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>