/******************************************************************|
|NOMBRE: ver-usuarios-producto.                                    | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos de los usuarios con producto. |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 15/05/2020.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/

/*Clase para el color de los botones y color de fuente.*/
.btn-azul{
    background-color: rgb(0, 162, 232);
    color: white;    
    font-size: 15px;

  }

  
