<!------------------------------------------------------------------
|NOMBRE: alta-paciente.                                            | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página para dar de alta pacientes.                   |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 13/07/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="container">
  <div class="row">
    <div class="col-lg-1">
        <button type="button" class="btn btn-azul btn-lg col-lg-12" placement="bottom" ngbTooltip="Regresar al listado de pacientes." >
            <i class="material-icons">arrow_back</i>
        </button>
    </div>
  </div>

</div>