/******************************************************************|
|NOMBRE: lista-cobros.                                             | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos de la lista de cobros.        |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 24/01/2020.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/

/*Clase para el color de los botones y color de fuente.*/
.btn-azul{
    background-color: rgb(0, 162, 232);
    color: white;    
    font-size: 15px;

  }

  
