<!------------------------------------------------------------------
|NOMBRE: ver-usuarios-estudio.                                     | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página de (des)asignación de estudio a usuarios.     |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 05/05/2020.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="container">
  <h3 class="text-center">Asignación de estudio</h3>
  <br>
  <div class="row">
    <table class="table table-striped table-bordered">
      <tr>
        <th class="text-center">Estudio</th>
        <th class="text-center">Descripción</th> 
        <th class="text-center">Clínica</th>         
      </tr>
      <tr>
        <td class="text-center">{{nombreEstudio}}</td>
        <td class="text-center">{{descripcion}}</td>
        <td class="text-center">{{nombreClinica}}</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <div class="input-group input-group-lg">
        <input type="text" #buscarUsuariosSinEstudioHTML class="form-control" placeholder="Búsqueda">
        <div class="input-group-append">
          <button class="btn btn-azul" type="button" (click)="limpiarBusquedaUsuariosSinEstudio()" placement="bottom"
            ngbTooltip="Borrar búsqueda.">
            <i class="material-icons">backspace</i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-azul btn-lg col-lg-12" type="button" (click)="buscarConEspera()" placement="bottom"
        ngbTooltip="Buscar.">
        <i class="material-icons">search</i>
      </button>
    </div>
    <div class="col-lg-5">
      <div class="input-group input-group-lg">
        <input type="text" #buscarUsuariosConEstudioHTML class="form-control" placeholder="Búsqueda">
        <div class="input-group-append">
          <button class="btn btn-azul" type="button" (click)="limpiarBusquedaUsuariosConEstudio()" placement="bottom"
            ngbTooltip="Borrar búsqueda.">
            <i class="material-icons">backspace</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-5 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th colspan="2" class="text-center">Usuarios sin estudio</th>
          </tr>
        </thead>
        <tbody *ngIf="usuariosSinEstudio.length > 0">
          <tr *ngFor="let usuario of usuariosSinEstudio">
            <td class="text-center"><input type="checkbox" (change)="seleccionarUsuarioSinEstudio($event.target.checked, usuario.id)"></td>
            <td class="text-center">{{usuario.nombres_usuario}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2">
      <button *ngIf="usuariosSinEstudio.length > 0 && usuariosAsignar.length > 0" class="btn btn-azul btn-lg btn-block" type="button" (click)="asignarEstudio()" placement="bottom"
        ngbTooltip="Asignar estudio.">
        <i class="material-icons">navigate_next</i>
      </button>      
      <button *ngIf="usuariosConEstudio.length > 0 && usuariosDesasignar.length > 0" class="btn btn-azul btn-lg btn-block" type="button" (click)="desasignarEstudio()" placement="bottom"
        ngbTooltip="Desasignar estudio.">
        <i class="material-icons">navigate_before</i>
      </button>
    </div>
    <div class="col-lg-5 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>    
          <tr>
            <th colspan="2" class="text-center">Usuarios con estudio</th>
          </tr>
        </thead>
        <tbody *ngIf="usuariosConEstudio.length > 0">
          <tr *ngFor="let usuario of usuariosConEstudio">
            <td class="text-center"><input type="checkbox" (change)="seleccionarUsuarioConEstudio($event.target.checked, usuario.id)"></td>
            <td class="text-center">{{usuario.nombres_usuario}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>