/******************************************************************|
|NOMBRE: dibujo.                                                   | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos del modal dibujo.             |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 10/09/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }

  /*@media screen {
    .modal-lg {
        width: 95% !important;
        max-width: calc(95%);
    }
  }*/

  .dark-modal .modal-lg {
        width: 100% !important;
        max-width: calc(100%);
    }

  mat-slider {
    width: 150px;        
    background-color: white; 
  }
