<!------------------------------------------------------------------
|NOMBRE: dibujo.                                                   |  
|------------------------------------------------------------------|
|DESCRIPCIÓN: Componente HTML que contiene el modal para mostrar   |
|              la herramienta de dibujo.                           |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 08/09/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->
<div class="modal-header">
  <div class="input-group input-group-lg">
      <button type="button" class="btn btn-lg btn-success" placement="bottom" ngbTooltip="Finalizar dibujo." (click)="activeModal.close(signaturePad.toDataURL())"><i
        class="material-icons">check</i></button>
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="material-icons" style="font-size: 30px">color_lens</i></span>
    </div>    
    <input class="form-control col-sm-1" (colorPickerChange)="cambiarColor($event)" [(colorPicker)]="color" readonly
      [style.background]="color" placement="bottom" ngbTooltip="Seleccione el color del pincel." />
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="material-icons" style="font-size: 30px">brush</i></span>
    </div>
    <mat-slider [thumbLabel]="true" min="1" max="10" step="0.5" value="1" (change)="cambiarTamanoPincel($event)"
      placement="bottom" ngbTooltip="Seleccione el tamaño del pincel."></mat-slider>
    <button type="button" (click)="refrescarDibujo()" class="btn btn-lg btn-secondary" placement="bottom" ngbTooltip="Refrescar dibujo."><i
        class="material-icons">sync</i></button>
    <button *ngIf="imagenes.length > 1" type="button" (click)="deshacerCambio()" class="btn btn-lg btn-secondary" placement="bottom" ngbTooltip="Deshacer cambio."><i
        class="material-icons">undo</i></button>
    <button *ngIf="indiceActualImagenes > 0" type="button" (click)="rehacerCambio()" class="btn btn-lg btn-secondary" placement="bottom" ngbTooltip="Rehacer cambio."><i
        class="material-icons">redo</i></button>
  </div>
  <button type="button" class="close" (click)="activeModal.close('')" placement="bottom" ngbTooltip="Cerrar">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" #modalBody>
  <div class="row">
    <div class="col-lg-12 text-center">
      <signature-pad (onEndEvent)="dibujoCompleto()"></signature-pad>
    </div>
  </div>
</div>