/******************************************************************|
|NOMBRE: ver-paciente.                                             | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos para ver a un paciente.       |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 25/07/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/

/*Clase para el color de los botones y color de fuente.*/
.btn-azul{
    background-color: rgb(0, 162, 232);
    color: white;    
  }

  /*Clase para darle a la fuente o letra que lo contiene el color azul. */
.fuente-azul{
  color: rgb(0, 162, 232);
}