<!------------------------------------------------------------------
|NOMBRE: desplegar-imagen.                                         |  
|------------------------------------------------------------------|
|DESCRIPCIÓN: Componente HTML que contiene la forma para mostrar   |
|              un modal con la imagen a desplegar.                 |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 03/09/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->

<div class="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center">
          <img src="{{imagen}}" class="img-fluid"> 
      </p>        
    </div>
  </div> 
</div>
