<!------------------------------------------------------------------
|NOMBRE: desplegar-imagen.                                         |  
|------------------------------------------------------------------|
|DESCRIPCIÓN: Componente HTML que contiene la forma para mostrar   |
|              un modal con la imagen a desplegar.                 |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 03/09/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->
<div class="modal-header">
  <button type="button" class="close" (click)="activeModal.close()" placement="bottom" ngbTooltip="Cerrar">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <img src="{{imagen}}" class="img-fluid rounded">
</div>