/******************************************************************|
|NOMBRE: logout.                                                   | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Se muestran lo estilos modificados del componente.   |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 30/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
*/


  /*Color y tamaño de letra en estado normal de los elementos del  menú desplegable.*/
  .dropdown-item{
    color: rgb(110, 110, 110);
    font-size: 20px; 
  }

/*Color de letra de los elementos del  menú desplegable.*/
.dropdown-item:active{
    background-color: rgb(0, 162, 232);
    color: white;
}