<!------------------------------------------------------------------
|NOMBRE: logout.                                                   | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Componente HTML para salirse del sistema             |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 30/05/2018.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->
<a class="nav-link text-right" href="#" (click)="salir()">Salir</a>