<!------------------------------------------------------------------
|NOMBRE: inicio.                                                   | 
|------------------------------------------------------------------|
|DESCRIPCIÓN: Página inicial de la aplicación.                     |
|------------------------------------------------------------------|
|AUTOR: Ricardo Luna.                                              |
|------------------------------------------------------------------|
|FECHA: 19/08/2019.                                                |
|------------------------------------------------------------------|
|                       HISTORIAL DE CAMBIOS                       |
|------------------------------------------------------------------|
| #   |   FECHA  |     AUTOR      |           DESCRIPCIÓN          |
-------------------------------------------------------------------->
<div *ngIf="calendarOptions" class="container">
  <ng-fullcalendar  #calendario [options]="calendarOptions" (eventClick)="eventClick($event.detail)" 
    (initialized)="calendarioCargado()" (dayClick)="dayClick($event.detail)"  (eventRender)="eventrender($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div>